<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Data Mapping</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/footable/css/footable.core.css"/>
    <link rel="stylesheet" type="text/css" href="/angular-ui-select/dist/select.css">
    <script src="/alasql/dist/alasql.min.js"></script>
    <script src="/js-xlsx/dist/xlsx.core.min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script type="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/footable/js/footable.js"></script>
    <script src="/footable/js/footable.sort.js"></script>
    <script src="/footable/js/footable.paginate.js"></script>
    <script src="/footable/js/footable.filter.js"></script>
    <script src="/angular-ui-select/dist/select.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="data-mapping">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <footer></footer>
</body>
</html>
