<div id="page-wrapper" class="gray-bg" style="min-height: 973px;">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-plus"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <input type="text" placeholder="Search your mappings..." class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Humantics Data Mapping</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="login.html"><i class="fa fa-home"></i> Home</a>
                </li>   
            </ul>

        </nav>
    </div>
    <div class="wrapper wrapper-content">
        <div class="col-lg-6 animated fadeInRight">
            <div class="mail-box-header">
                <h2 style="color:#1ab394;">Attributes from: <span style="color:#676a6c;">Retail Stores</span></h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <h3 style="color:#f8ac59;">Database: <span style="color:#676a6c;">Sales</span></h3> 
                    <h3 style="color:#1c84c6;">Schema: <span style="color:#676a6c;">Customers</span></h3>
                    <button class = "btn btn-primary" ng-click="newAttribute()" style="float:right;">Make a new Attribute</button>
                </div>
            </div>

            <div class="mail-box">
                <div class="mail-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Attribute Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="selectAttribute(table[$index])" ng-repeat = "attribute in table track by $index">
                                        <td>{{attribute.name}}
                                    </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-lg-6 animated fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo" ng-switch="editing">
                    <a ng-switch-default ng-click="editAttribute()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-pencil"></i> Edit</a>
                    <a ng-switch-when="true" ng-click="editAttribute()" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-pencil"></i> Save</a>
                    <a ng-switch-when="true" ng-click="editAttribute()" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-pencil"></i> Cancel</a>
                    
                    <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>
                </div>
                <h2 style="color:#1ab394;">Attribute Information</h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>{{selected.name || 'New Attribute'}}</h3>
                </div>
            </div>

            <div class="mail-box overflow" ng-switch="editing">
                <div class="mail-body" ng-switch-default>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form role="form">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Source</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Database</td>      
                                    <td>{{selected.source.database || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Schema</td>               
                                    <td>{{selected.source.schema || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Table</td>                                    
                                    <td>{{selected.source.table || 'Add a value'}}</td>
                                </tr>
                                 <tr>
                                    <td>Data Type</td>
                                    <td class="text-info">{{selected.source.datatype || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td class = "text-warning">{{selected.source.status || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Last modified date</td>
                                    <td>{{selected.source.lastModified || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Sample Value</td>
                                    <td>{{selected.source.sampleValue || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{selected.source.description || 'Add a value'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <form role="form">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Target</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Database</td>      
                                    <td>{{selected.target.database || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Schema</td>               
                                    <td>{{selected.target.schema || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Table</td>                                    
                                    <td>{{selected.target.table || 'Add a value'}}</td>
                                </tr>
                                 <tr>
                                    <td>Data Type</td>
                                    <td class="text-info">{{selected.target.datatype || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td class = "text-warning">{{selected.target.status || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Last modified date</td>
                                    <td>{{selected.target.lastModified || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Sample Value</td>
                                    <td>{{selected.target.sampleValue || 'Add a value'}}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{selected.target.description || 'Add a value'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mail-body" ng-switch-when="true">
                <div class="row">
                        <div class="col-sm-6 b-r">
                            <form role="form">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Source</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Database</td>      
                                    <td><input type="text" ng-model="selected.source.database"/></td>
                                </tr>
                                <tr>
                                    <td>Schema</td>               
                                    <td><input type="text" ng-model="selected.source.schema"/></td>
                                </tr>
                                <tr>
                                    <td>Table</td>                                    
                                    <td><input type="text" ng-model="selected.source.table"/></td>
                                </tr>
                                 <tr>
                                    <td>Data Type</td>
                                    <td class="text-info"><input type="text" ng-model="selected.source.datatype"/></td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td><input type="text" ng-model="selected.source.status"/></td>
                                </tr>
                                <tr>
                                    <td>Last modified date</td>
                                    <td><input type="text" ng-model="selected.source.lastModified"/></td>
                                </tr>
                                <tr>
                                    <td>Sample Value</td>
                                    <td><input type="text" ng-model="selected.source.sampleValue"/></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td><input type="text" ng-model="selected.source.description"/></td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <form role="form">
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Target</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Database</td>      
                                    <td><input type="text" ng-model="selected.target.database"/></td>
                                </tr>
                                <tr>
                                    <td>Schema</td>               
                                    <td><input type="text" ng-model="selected.target.schema"/></td>
                                </tr>
                                <tr>
                                    <td>Table</td>                                    
                                    <td><input type="text" ng-model="selected.target.table"/></td>
                                </tr>
                                 <tr>
                                    <td>Data Type</td>
                                    <td class="text-info"><input type="text" ng-model="selected.target.datatype"/></td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td><input type="text" ng-model="selected.target.status"/></td>
                                </tr>
                                <tr>
                                    <td>Last modified date</td>
                                    <td><input type="text" ng-model="selected.target.lastModified"/></td>
                                </tr>
                                <tr>
                                    <td>Sample Value</td>
                                    <td><input type="text" ng-model="selected.target.sampleValue"/></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td><input type="text" ng-model="selected.target.description"/></td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mail-attachment">
                        <div class="attachment">
                            <div class="pull-right tooltip-demo">
                                <a class="btn btn-white btn-sm" title="addAttribute"><i class="fa fa-plus"></i> </a>
                            </div>

                            <h3>Transformation Rules</h3>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="mail-body text-left tooltip-demo" style="height:26vh;">
                         <!-- <h4 class="text-center">No Current Transformation Rules<h4> -->
                        <div class = "accordion-button">
                            <button class="accordion">New Rule</button>
                            <div class="panel">
                                <form ng-submit="addTransformation()">
                                    <div class = "row">
                                        <input type="text" placeholder="Rule Name"/>
                                    </div>
                                    <div class = "row">
                                        <textarea placeholder="Rule Body" cols="50"></textarea>
                                    </div>
                                    <div class = "row">
                                        <button class="btn btn-info">Save</button>
                                        <button class = "btn btn-danger">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div accordion class = "accordion-button" ng-repeat = "rule in rules">
                            <button class="accordion">{{rule.name}}</button>
                            <div class="panel">
                              <p>{{rule.body}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

    </div>
    </div>
    <div class="footer">
        <div class="pull-right">
            Anna <strong>Kendrick</strong> Logged In.
        </div>
        <div>
            <strong>Copyright</strong> Humantics 2016
        </div>
    </div>
</div>