<div class="mail-attachment">
    <div class="attachment">
        <div class="pull-right tooltip-demo">
            <a class="btn btn-white btn-sm" ng-click="addComment()"><i class="fa fa-plus"></i> </a>
        </div>
        <h3 style="margin:0px;">Table Notes</h3>
    </div>
</div>
<div class="mail-body text-left tooltip-demo notlisting-wrap">
    <div accordion class="accordion-button clearfix newcomm-wrap" ng-if="newComment">
        <button class="accordion">
            <h4><i class="fa fa-plus"></i> New Note</h4></button>
        <div class="panel accordion-panel-parent col-md-12 panel-wrap">
            <form class="accordion-panel add-note-pan">
                <div class="col-md-12">
                    <h4>Note Subject</h4>
                </div>
                <div class="col-md-12">
                    <input ng-model="comment.name" id="ruleType" class="newRuleType" type="text" placeholder="Note Subject" />
                </div>
                <div class="col-md-12">
                    <h4>Note Content</h4>
                </div>
                <div class="col-md-12">
                    <textarea ng-model="comment.content" class="newRuleDescription col-md-12" placeholder="Content of the note" cols="50"></textarea>
                </div>
                <div class="col-md-12">
                    <button ng-click="saveComment(comment)" class="btn btn-blue header-btn mar-rt-0 ng-scope">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div accordion class="accordion-button" ng-repeat="comment in comments track by $index">
        <button class="accordion"><i class="fa fa-angle-right"></i> {{comment.name}} by {{comment.poster}}</button>
        <div class="panel">
            <div class="pull-right tooltip-demo">
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-hide="hideComment[$index]" ng-if="note.poster==user.email"><i class="fa fa-pencil" ng-click = "editComment($index)"></i></a>
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-show="hideComment[$index]" ng-click="updateComment($index)">Save</a>
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-show="hideComment[$index]" ng-click="cancel($index)">Cancel</a>
                <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" ng-if="note.poster==user.email" ng-click="deleteComment($index)"><i class="fa fa-trash-o"></i></a>
            </div>
            <p ng-hide="hideComment[$index] == 1">{{comment.content}}</p>
            <textarea ng-show="hideComment[$index] ==1" ng-model="comment.content" class="newRuleDescription col-md-12" cols="50"></textarea>
        </div>
    </div>
</div>
