<div class="body-container mail-box overflow" style="margin-bottom:0;" ng-switch="edit">
    <div class="mail-body" ng-switch-default>
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="padding-top:0; padding-bottom:4px;">
                                <ul class="tab" style="border:none;">
                                  <li ng-repeat = "source in sources track by $index"><a style="margin:0;margin-right: 10px;padding:8px; border:1px solid #e7eaec;" class="tablinks"  ng-click="changeSource($index)"><h5 style="margin:0;color:#676a6c;" class="text-success">Source {{$index + 1}}</h5></a></li>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>System</td>      
                                <td>{{displaySource.system || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Database</td>      
                                <td>{{displaySource.db_name || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Schema</td>               
                                <td>{{displaySource.schema_name || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Table</td>                                    
                                <td>{{displaySource.table_name || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Column</td>      
                                <td>{{displaySource.attr_name || 'Add a value'}}</td>
                            </tr>
                             <tr>
                                <td>Data Type</td>
                                <td class="text-info">{{displaySource.datatype || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td class = "text-warning">{{displaySource.status || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Last modified date</td>
                                <td>{{displaySource.last_modified || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Sample Value</td>
                                <td>{{displaySource.sample_value || 'Add a value'}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{displaySource.description || 'Add a value'}}</td>
                            </tr>
                        </div> 
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>      
                        <td>{{target.system || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>{{target.db_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>{{target.schema_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>{{target.table_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>{{target.attr_name || 'Add a value'}}</td>
                    </tr>
                     <tr>
                        <td>Data Type</td>
                        <td class="text-info">{{target.datatype || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td class = "text-warning">{{target.status || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td>{{target.lastModified || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td>{{target.sampleValue || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{target.description || 'Add a value'}}</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="mail-body" ng-switch-when="newAttribute">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Databases</td>                       
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.status"/></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.status"/></td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.lastModified"/></td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.sampleValue"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                        <td>System</td>
                          <td>    
                            <ui-select ng-model="targetMapping.system">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>
                          <td>    
                            <ui-select ng-model="targetMapping.db_name">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match >
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td class="text-info"><input class="btn btn-default form-control" type="text" ng-model="target.status"/></td>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.status"/></td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.lastModified"/></td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.sampleValue"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="mail-body" ng-switch-when="editAttribute">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr> 
                        <td>System</td>      
                        <td>   
                         <ui-select ng-model="temp.system">
                            <ui-select-match placeholder="{{displaySource.system}}">
                                {{temp.system || 'Add a value'}}
                            </ui-select-match>
                            <ui-select-choices repeat="system in (systems | filter: $select.search) track by $index">
                                <span ng-bind="system"></span>
                            </ui-select-choices>
                        </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>
                            <ui-select ng-model="temp.db">
                                <ui-select-match placeholder="{{displaySource.db_name}}">
                                    {{temp.db_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="db in (dbs | filter: $select.search) track by $index">
                                    <span ng-bind="db.db_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>   
                            <ui-select ng-model="temp.schema">
                                <ui-select-match placeholder="{{displaySource.schema_name}}">
                                    {{temp.schema_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by $index">
                                    <span ng-bind="schema.schema_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>
                            <ui-select ng-model="temp.table">
                                <ui-select-match placeholder="{{displaySource.table_name}}">
                                    {{temp.table_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="table in (tables | filter: $select.search) track by $index">
                                    <span ng-bind="table.table_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>
                            <ui-select ng-model="temp.attr">
                                <ui-select-match placeholder="{{displaySource.attr_name}}">
                                    {{temp.attr_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="attr in (attrs | filter: $select.search) track by $index">
                                    <span ng-bind="attr.attr_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                     <tr>
                        <td >Data Type</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.datatype"/></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.status"/></td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Last modified date</td>
                        <td class="padding-tb-16 text-center">{{displaySource.last_modified || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.sample_value"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="padding-tb-16">System</td>      
                        <td class="padding-tb-16 text-center">{{target.system || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Database</td>      
                        <td class="padding-tb-16 text-center">{{target.db_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Schema</td>               
                        <td class="padding-tb-16 text-center">{{target.schema_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Table</td>                                    
                        <td class="padding-tb-16 text-center">{{target.table_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Column</td>
                        <td class="padding-tb-16 text-center">{{target.attr_name || 'Some Value'}}</td>
                        
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td class="text-info"><input class="btn btn-default form-control" type="text" placeholder="{{target.datatype}}" ng-model="temp.target.datatype"/></td>
                    <tr>
                        <td>Status</td>
                        <td><input placeholder="{{target.status}}" class="btn btn-default form-control" type="text" ng-model="temp.target.status"/></td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Last modified date</td>
                        <td class="padding-tb-16 text-center">{{target.lastModified || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" placeholder="{{target.sample_value}}" type="text" ng-model="temp.target.sample_value"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" placeholder="{{target.description}}" type="text" ng-model="temp.target.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="mail-body" ng-switch-when="newSource">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr> 
                        <td>System</td>      
                        <td>   
                         <ui-select ng-model="temp.system">
                            <ui-select-match >
                                {{temp.system || 'Add a value'}}
                            </ui-select-match>
                            <ui-select-choices repeat="system in (systems | filter: $select.search) track by $index">
                                <span ng-bind="system"></span>
                            </ui-select-choices>
                        </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>
                            <ui-select ng-model="temp.db">
                                <ui-select-match >
                                    {{temp.db.db_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="db in (dbs | filter: $select.search) track by $index">
                                    <span ng-bind="db.db_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>   
                            <ui-select ng-model="temp.schema">
                                <ui-select-match >
                                    {{temp.schema.schema_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by $index">
                                    <span ng-bind="schema.schema_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>
                            <ui-select ng-model="temp.table">
                                <ui-select-match >
                                    {{temp.table.table_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="table in (tables | filter: $select.search) track by $index">
                                    <span ng-bind="table.table_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>
                            <ui-select ng-model="temp.attr">
                                <ui-select-match >
                                    {{temp.attr.attr_name|| 'Add a value'}}
                                </ui-select-match>
                                <ui-select-choices repeat="attr in (attrs | filter: $select.search) track by $index">
                                    <span ng-bind="attr.attr_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                     <tr>
                        <td >Data Type</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.datatype"/></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.status"/></td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Last modified date</td>
                        <td class="padding-tb-16 text-center">{{displaySource.last_modified || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.sample_value"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="padding-tb-16">System</td>      
                        <td class="padding-tb-16 text-center">{{target.system || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Database</td>      
                        <td class="padding-tb-16 text-center">{{target.db_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Schema</td>               
                        <td class="padding-tb-16 text-center">{{target.schema_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Table</td>                                    
                        <td class="padding-tb-16 text-center">{{target.table_name || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Column</td>
                        <td class="padding-tb-16 text-center">{{target.attr_name || 'Some Value'}}</td>
                        
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td class="text-info">{{target.dataType}}</td>
                    <tr>
                        <td>Status</td>
                        <td class = "padding-tb-16 text-center">{{target.status}}</td>
                    </tr>
                    <tr>
                        <td class="padding-tb-16">Last modified date</td>
                        <td class="padding-tb-16 text-center">{{target.last_modified || 'Some Value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td>{{target.sample_value}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{target.description}}</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>