<div class="body-container" ng-switch="edit">
    <div class="mail-body" ng-switch-default>
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>      
                        <td>{{source.system || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>{{source.db_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>{{source.schema_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>{{source.table_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>{{selected.source.column || 'Add a value'}}</td>
                    </tr>
                     <tr>
                        <td>Data Type</td>
                        <td class="text-info">{{source.datatype || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td class = "text-warning">{{source.status || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td>{{source.last_modified || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td>{{source.sample_value || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{source.description || 'Add a value'}}</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>      
                        <td>{{target.system || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>{{target.db_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>{{target.schema_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>{{target.table_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>{{target.attr_name || 'Add a value'}}</td>
                    </tr>
                     <tr>
                        <td>Data Type</td>
                        <td class="text-info">{{target.datatype || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td class = "text-warning">{{target.status || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td>{{target.lastModified || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td>{{target.sampleValue || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{target.description || 'Add a value'}}</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="mail-body" ng-switch-when="newAttribute">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Databases</td>                       
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Databases">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Schemas">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Tables">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Columns">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.status"/></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.status"/></td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.lastModified"/></td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.sampleValue"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.source.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                        <td>System</td>
                          <td>    
                            <ui-select ng-model="targetMapping.system">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Database</td>
                          <td>    
                            <ui-select ng-model="targetMapping.db_name">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Column</td>
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td class="text-info"><input class="btn btn-default form-control" type="text" ng-model="target.status"/></td>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.status"/></td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.lastModified"/></td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.sampleValue"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="selected.target.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="mail-body" ng-switch-when="editAttribute">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>System</td>      
                        <td>{{source.system || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>{{source.db_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>{{source.schema_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>{{source.table_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Column</td>      
                        <td>{{selected.source.column || 'Add a value'}}</td>
                    </tr>
                     <tr>
                        <td>Data Type</td>
                        <td class="text-info">{{source.datatype || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td class = "text-warning">{{source.status || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td>{{source.last_modified || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td>{{source.sample_value || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{source.description || 'Add a value'}}</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="col-sm-6">
                <form role="form">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                 <!--       <td>System</td>
                           <td>    
                            <ui-select ng-model="targetMapping.system">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="system in (systems | filter: $select.search) track by $index">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr> -->
                    <tr>
                        <td>System</td>      
                        <td>{{target.system || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Database</td>      
                        <td>{{target.db_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                        <td>{{target.schema_name || 'Add a value'}}</td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                        <td>{{target.table_name || 'Add a value'}}</td>
                    </tr>
<!-- THIS IS IF WE WANT FOR THE MAPPER TO BE ABLE TO MOVE ATTRIBUTES I DON"T THINK THIS SHOULD BE ALLOWED -->
                    <!-- <tr>
                        <td>Database</td>
                          <td>    
                            <ui-select ng-model="temp.selectedDb">
                                <ui-select-match placeholder="{{temp.db_name}}">
                                    {{$select.selected.db_name}}
                                </ui-select-match>
                                <ui-select-choices repeat="db in (dbs | filter: $select.search) track by db.db_id">
                                    <span ng-bind="db.db_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Schema</td>               
                          <td>    
                            <ui-select ng-model="target.selectedSchema">
                                <ui-select-match placeholder="{{temp.schema_name}}">
                                    {{$select.selected.schema_name}}
                                </ui-select-match>
                                <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by schema.id">
                                    <span ng-bind="schema.schema_name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Table</td>                                    
                          <td>    
                            <ui-select ng-model="selectedSystem.value">
                                <ui-select-match placeholder="List of Systems">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr> -->
                    <tr>
                        <td>Column</td>
                          <td>    
                            <input class="btn btn-default form-control" type="text" ng-model="temp.attr_name"/></td>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td class="text-info"><input class="btn btn-default form-control" type="text" ng-model="temp.datatype"/></td>
                    <tr>
                        <td>Status</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.status"/></td>
                    </tr>
                    <tr>
                        <td>Last modified date</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.last_modified"/></td>
                    </tr>
                    <tr>
                        <td>Sample Value</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.sample_value"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="btn btn-default form-control" type="text" ng-model="temp.description"/></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>