<div id = "wrapper" class = "view-height-2">
	<div class = "wrapper wrapper-content animated fadeIn">
		<div class = "p-w-md m-t-sm">
			<div class="row">
	        		<div class="col-lg-offset-3 col-lg-6">
						<div class = "ibox">
							<div class = "ibox-content">
								<div class = "row row-centered">
									<div class="col-lg-12 col-centered searchOuterContainer">
										<ul class="tab">
											  <li><a class="tablinks" ng-click="openBrowse(event, 'attributeImpact')"><h5 class="text-success">Attribute Impact</h5></a></li>
											  <li><a class="tablinks" ng-click="openBrowse(event, 'tableImpact')"><h5 class="text-success">Table Impact</h5></a></li>
											</ul>
										<div id="attributeImpact" class="tabcontent">
										    <form method="post">
										        <fieldset class="tabFieldset">
										        	<h4>Analyse the impact of an attribute</h4>
										            <input id="searchBar" ng-model="searchQuery" type="text"/>
										            <input type="submit" value="Submit" id="submitButton" ng-click="attributeSearch(searchQuery)"/>
										        </fieldset>
										    </form>
									    </div>
							    		<div id="tableImpact" class="tabcontent">
										    <form method="post">
										        <fieldset class="tabFieldset2">
													<div class = "row">
														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a System</div></span>
													        	<ui-select ng-model="selectedSystem.value">
																    <ui-select-match placeholder="List of Systems">
																        {{$select.selected.name}}
																    </ui-select-match>
																    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
																        <span ng-bind="item.name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Database</div></span>
													       			<ui-select ng-model="selectedDb.value">
															    <ui-select-match placeholder="List of Databases">
															        {{$select.selected.db_name}}
															    </ui-select-match>
															    <ui-select-choices repeat="db in (dbs | filter: $select.search) track by db.db_id">
															        <span ng-bind="db.db_name"></span>
															    </ui-select-choices>
															</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Schema</div></span>
																<ui-select ng-model="selectedSchema.value">
																    <ui-select-match placeholder="List of Schemas">
																        {{$select.selected.schema_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by schema.schema_id">
																        <span ng-bind="schema.schema_name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>
														
														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Table</div></span>
																<ui-select ng-model="selectedTable.value">
																    <ui-select-match placeholder="List of Tables">
																        {{$select.selected.table_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="table in (tables | filter: $select.search) track by table.table_id">
																        <span ng-bind="table.table_name"></span>
																    </ui-select-choices>
																</ui-select>
															</div>
														</div>	
													</div>
													<button class = "btn btn-primary" ng-click = "tableImpact(selectedTable.value)">FIND IMPACT</button>
										        </fieldset>
										    </form>
									    </div>
								</div>
							</div>
						</div>
					</div>
	        </div>
	        <div class = "row" >
	        	<div class = "col-lg-6">
					<div class = "ibox" ng-show="sources">
						<div class = "ibox-content" >
							<div class="mail-box-header" style="background-color:#1c84c6; padding: 20px 20px 10px 20px;">
								<h3 style="color:white;">Sources</h3>
							</div>

							<div class="mail-body" style="border-left: 1px grey; border-right: 2px grey;">
								<table class = "footable table table-striped toggle-arrow-tiny" data-page-size="8">
									<thead>
									<tr>
										<th data-toggle="true">Attribute Id</th>
										<th>Attribute Name</th>
										<th>Database</th>
										<th>Schema</th>
										<th>Table</th>
										<th data-hide="all">Datatype</th>
										<th data-hide="all">Last Modified</th>
										<th data-hide="all">Last Editor</th>
										<th data-hide="all">Impact Analysis</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat = "source in sources track by $index" foo-repeat-done>
										<td>{{source.attr_id}}</td>
										<td>{{source.attr_name}}</td>
										<td>{{source.db_name}}</td>
										<td>{{source.schema_name}}</td>
										<td>{{source.table_name}}</td>
										<td>{{source.datatype}}</td>
										<td>{{source.last_modified}}</td>
										<td>Last Editor</td>
										<td><button class = "btn btn-primary" ng-click="impact(source.attr_id)">Get Analysis</button></td>
									</tr>
									</tbody>
									<tfoot>
				                        <tr>
				                            <td colspan="5">
				                                <ul class="pagination"></ul>
				                            </td>
				                        </tr>
				                    </tfoot>			                    
								</table>
							</div>
						</div>	
					</div>
				</div>
				<div class = "col-lg-6">
					<div class = "ibox" ng-show="targets">
						<div class = "ibox-content">
							<div class="mail-box-header" style="background-color:#1ab394; padding: 15px 20px 15px 20px;">
								<button class="btn btn-primary"  ng-if="impactSearches !== []" ng-click = "previousImpact()" style="background-color:none; border-color:white; margin-right: 8px;"><i class="fa fa-arrow-left" style="" aria-hidden="true"></i></button>
								<h3 style="display:inline; padding-top:5px; color:white;">Targets</h3>
							</div>

							<div class="mail-body" style="border-left: 1px grey; border-right: 2px grey;">
								<table class = "footable table table-striped toggle-arrow-tiny" data-page-size="8">
									<thead>
									<tr>
										<th data-toggle="true">Attribute Id</th>
										<th>Attribute Name</th>
										<th>Database</th>
										<th>Schema</th>
										<th>Table</th>
										<th data-hide="all">Datatype</th>
										<th data-hide="all">Last Modified</th>
										<th data-hide="all">Last Editor</th>
										<th data-hide="all">Impact Analysis</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat = "target in targets track by $index" foo-repeat-done>
										<td>{{target.attr_id}}</td>
										<td>{{target.attr_name}}</td>
										<td>{{target.db_name}}</td>
										<td>{{target.schema_name}}</td>
										<td>{{target.table_name}}</td>
										<td>{{target.datatype}}</td>
										<td>{{target.last_modified}}</td>
										<td>Last Editor</td>
										<td><button class = "btn btn-primary" ng-click="nextImpact(target.attr_id)">Get Analysis</button></td>
									</tr>
									</tbody>
									<tfoot>
				                        <tr>
				                            <td colspan="5">
				                                <ul class="pagination"></ul>
				                            </td>
				                        </tr>
				                    </tfoot>
								</table>
							</div>
						</div>	
					</div>
				</div>
	        </div>
		</div>
	</div>
</div>