

<div class="middle-box text-center loginscreen animated fadeInDown" style="background-color:grey; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px; margin-top: 150px;">
    <div>
        <div>
          <h1 class="logo-name" style="color:white; text-shadow: -1px 0 #f3f3f4, 0 1px #f3f3f4, 1px 0 #f3f3f4, 0 -1px #f3f3f4;">D &nbspA &nbspT &nbspA &nbspM &nbspA &nbspP &nbspS</h1>
        </div>
        <h3 style="color:whitesmoke;">Welcome to DataMaps</h3>
        <p style="color:whitesmoke;">A visualization aid for data mapping.</p>
    </div>

    <div>
        <p style="color:whitesmoke;">Login to start mapping!</p>
        <p style="color:red" ng-show="error">{{error}}</p>
        <form class="m-t" role="form" ng-submit="sendLogin(loginInfo)">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username" ng-model="loginInfo.email" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password" required="">
            </div>
            <input type="submit" id="submit" value="Login" class="btn btn-primary block full-width m-b"/>

            <a href="#" style="color:whitesmoke; margin-bottom: 10px;"><small>Forgot password?</small></a>
            <!-- <a class="btn btn-sm btn-white btn-block" ui-sref="signup">Create an account</a> -->
        </form>
    </div>
</div>

