
<div class="middle-box text-center">
    <div class="login-logo text-center">
        <h1 class="login-logo"><img src="img/co-logo.png" title="logo" /></h1>
    </div>
    <div class="loginscreen">
        
        <div>
            <h3 class="login-title">Welcome to DataMaps</h3>
            <p>A visualization aid for data mapping.</p>
        </div>
        <div>
            <p class="start-map">Login to start mapping!</p>
            <p ng-show="error">{{error}}</p>
            <form class="m-t" role="form" ng-submit="sendLogin(loginInfo)">
                <div class="form-group">
                    <input type="email" class="form-control login-input" placeholder="Username" ng-model="loginInfo.email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control login-input" placeholder="Password" ng-model="loginInfo.password" required="">
                </div>
<!--                 <input type="submit" id="submit" value="Login" class="login-btn" />
                <a href="#" class="forgotpassword"><small>Forgot password?</small></a> -->
                <!-- <a class="btn btn-sm btn-white btn-block" ui-sref="signup">Create an account</a> -->
            </form>
        </div>
    </div>
</div>
