<div class="mail-box" style="overflow:none;margin-bottom:0;border-bottom:none; border-left:none; border-right:none;">

    <div class="mail-attachment">
            <div class="attachment">
                <div class="pull-right tooltip-demo">
                    <a class="btn btn-white btn-sm" ng-click = "addNotes()"><i class="fa fa-plus"></i> </a>
                </div>

                <h3 style="margin:0px;">Mapping Notes</h3>
            </div>
        </div>
        <div class="mail-body text-left tooltip-demo" style="height:26vh;padding-bottom:0;">
            <div accordion class = "accordion-button" ng-if="newNote">
                <button class="accordion"><h4>New Note</h4></button>
                <div class="panel accordion-panel-parent col-lg-12" style="margin-bottom:15px;">
                    <form class="accordion-panel" style="padding-top:10px; padding-bottom:10px;">
                        <div class="pull-right tooltip-demo">
                            <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></a>
                        </div>
                        <div class="row">
                            <h4>Note Subject</h4> 
                        </div>
                        <div class = "row">
                            <input ng-model="newNote.name" id="ruleType" class="newRuleType" type="text" placeholder="Note Subject"/>
                        </div>
                        <div class="row">
                            <h4>Note Content</h4>
                        </div>
                        <div class = "row">
                            <textarea ng-model="newNote.content" class="newRuleDescription col-lg-12" placeholder="Content of the note" cols="50"></textarea>
                        </div>
                        <div class = "row">
                            <button ng-click="saveNote(newNote)" class="col-lg-1 col-lg-offset-11 btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div accordion class = "accordion-button" ng-repeat = "note in notes track by $index">
                
                <button class="accordion">{{rule.type}}
                </button>
                <div class="panel">
                    <div class="pull-right tooltip-demo">
                           <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-hide="hide[$index]"><i class="fa fa-pencil" ng-click = "editNote($index)"></i></a>
                           <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-show="hide[$index]" ng-click = "updateNote($index)">Save</a>
                           <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="edit" ng-show="hide[$index]" ng-click = "cancel($index)">Cancel</a>
                            <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" ng-click = "deleteRule($index)"><i class="fa fa-trash-o"></i></a>
                    </div>
                   <p ng-hide="hide[$index] == 1">{{rule.description}}</p>
                   <textarea ng-show="hide[$index] ==1" ng-model="rule.newDescription" class="newRuleDescription col-lg-12" placeholder="{{rule.description}}" cols="50"></textarea>
                </div>
            </div>

        </div>
</div>