.table-tab{
	border: 1px solid grey;
	width: 25%;
	padding: 5px;
	text-align: center;
}

.table-tab2{
	border: 1px solid grey;
	width: 25%;
	padding: 5px;
	text-align: center;
	margin-left: 6px;
}

.table-title{
	
}