<div id="wrapper" class="view-height-main">
    <div id="page-wrapper" class="gray-bg" style="min-height: 100%;">
	    <div class="wrapper wrapper-content animated fadeIn">
	        <div class="p-w-md">
	        	<div class="row" style="height:80vh; max-height:80vh;">
	        		<div class="col-lg-6" style="height:100%;">
	        			<div class="row percent-50">
	        				<div class="col-lg-12" style="height:100%;">
	        					<div class = "ibox" style="height:100%;">
							<div class = "ibox-content" style="padding:32.5px; border:none; height:95%;">
								<div class = "row row-centered">
									<div class="col-lg-12 col-centered searchOuterContainer">
										<ul class="tab">
										   <li><a class="tablinks" ng-click="openBrowse(event, 'SearchTab')"><h5 class="text-success">Search</h5></a></li>
										   <li><a class="tablinks" ng-click="openBrowse(event, 'BrowseTab')"><h5 class="text-success">Browse</h5></a></li>
										</ul>
										<div id="SearchTab" class="tabcontent">	
									        <fieldset class="tabFieldset">
									        	<p style="color:red" ng-show="error">{{error}}</p>
									            <input id="searchBar" ng-model="searchQuery" type="text"/>
									            <input style="font-size:11px;" type="submit" value="Submit" id="submitButton" ng-click="search(searchCat,searchQuery)"/>
									            <div id="searchInContainer">
									                <input type="radio" name="check" class="css-checkbox" value="table" id="searchTable" checked ng-model="searchCat"/>
									                <label for="searchTable" class="css-label" id="siteNameLabel">Table Search</label>
									                <input type="radio" name="check" class="css-checkbox" value="entity" id="searchEntity" ng-model="searchCat"/>
									                <label for="searchEntity" class="css-label">Entity Search</label>
									            </div>
									        </fieldset>
									    </div>
							    		<div id="BrowseTab" class="tabcontent">	
										    <form method="post">
										        <fieldset class="tabFieldset2">
										        <h4 style="margin-bottom:5px; margin-top:0;">Browse Your System by Table</h4>	
													<div class = "row">
														<div class="col-lg-8 col-lg-offset-2" style="margin-bottom:1%;">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a System</div></span>
													        	<ui-select ng-model="selectedSystem.value">
																    <ui-select-match placeholder="List of Systems">
																        {{$select.selected.system_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="system in (systems | filter: $select.search) track by system.system_id">
																        <span ng-bind="system.system_name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2" style="margin-bottom:1%;">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Database</div></span>
													       		<ui-select ng-model="selectedDb.value">
															    <ui-select-match placeholder="List of Databases">
															        {{$select.selected.db_name}}
															    </ui-select-match>
															    <ui-select-choices repeat="db in (dbs | filter: $select.search) track by db.db_id">
															        <span ng-bind="db.db_name"></span>
															    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Schema</div></span>
																<ui-select ng-model="selectedSchema.value">
																    <ui-select-match placeholder="List of Schemas">
																        {{$select.selected.schema_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by schema.schema_id">
																        <span ng-bind="schema.schema_name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>
													</div>
													<div class="row row-centered">
														<button class = "btn btn-primary" ng-click = "browse()">Search</button>
													</div>
										        </fieldset>
										    </form>
									    </div>
									</div>
								</div> 
							</div>
						</div>
	        				</div>
	        			</div>

	        			<div class="row percent-50">
	        				<div class="col-lg-12 percent-100">
	        					<div class = "ibox percent-100">
									<div class = "ibox-content percent-100" style="padding:32.5px; border:none;">
										<div class = "row row-centered percent-100">
											<div class="col-lg-12 col-centered searchOuterContainer percent-100">
												<ul class="tab" style="border:none; text-align:center;">

													  <li style="float: none;"><h5 style="font-size:15px; padding-bottom:10px; border-bottom: 1.5px solid whitesmoke; " class="text-success">Your Assignments</h5></li>
												</ul>

												<div id="ActionsTab" class="tabcontent2" style="height:80%; overflow-y:scroll; background:white;">	
													<form method="post">
												        <fieldset class="percent-100">
														   	<div class="percent-100" style="padding-top:1.5%; background-color:white;">
																<table class="footable table table-stripped toggle-arrow-tiny">
											                        <thead>
											                        	<tr>
												                        	<th>Table Name</th>
												                        	<th>Project</th>
												                        	<th>Detailed View</th>
												                        </tr>
											                        </thead>
											                        <tbody>
											                        	<tr ng-repeat ="mapping in assignedMappings">
											                        		<td>{{mapping.table_name}}</td>
											                        		<td>{{mapping.project_name}}</td>
											                        		<td><button class = "btn btn-primary" ng-click="detailedView(mapping.table_id)">Detailed View</button></td>
											                        	</tr>
											                    	</tbody>
											                    </table>
															</div>
														</fieldset>
													</form>
											    </div>
											    </div>
											</div>
										</div> 
									</div>
								</div>
	        				</div>
	        			</div>
					<div class="col-lg-6 percent-100" style="padding-left:0;">
						<div ng-show="tables" class="percent-100">
	        			<div class="col-lg-12 percent-100">
	                    <div class="ibox percent-100">
	                        <div class="ibox-content percent-100" style="border-top:none;">
	                        	<h3 ng-show="searchCat =='entity'">"{{searchQuery}}" was found in these tables:</h3>
				                <table class="footable table table-stripped toggle-arrow-tiny default breakpoint" data-page-size="16">
                                	<thead>
                                	<tr>
										<th data-toggle="true">Table Name</th>
										<th>Business Name</th>
										<!-- <th>Attribute Count</th> -->
										<th data-hide="all">Database</th>
										<th data-hide="all">Schema</th>
			                            <th data-hide="all">More Information</th>
			                            <th>Status</th>
			                        </tr>
                                	</thead>
                                    <tbody>
                                    <tr ng-repeat="table in tables track by $index" foo-repeat-done>
										<td><span class="footable-toggle"></span>{{table.table_name}}</td>
										<td>{{table.table_business_name || 'none set'}}</td>
										<!-- <td></td> -->
										<td>{{table.db_name}}</td>
										<td>{{table.schema_name}}</td>
										<td><button class = "btn btn-primary" ng-click="detailedView(table.table_id)">Detailed View</button></td>
										<td>{{table.table_status}}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot align="right">
				                        <tr>
				                            <td colspan="5">
				                                <ul class="pagination"></ul>
				                            </td>
				                        </tr>
				                    </tfoot>
                                </table>
                            </div>
                        </div>
	                    </div>
	                </div>
	                	<div ng-show="!tables">
	                		<div class="col-lg-12">
	                    <div class="ibox">
	                        <div class="ibox-content" style="border-top:none; height:80vh; padding-top:40%;">
				             	<h2 style="text-align:center"> Welcome To Data Maps</h2>
				             	<h3 style="text-align:center"> A Unique Data Mapping & Handling Framework</h3>  
	                         </div>
	                        </div>
	                    </div>

	                	</div>
					</div>
					</div>


				</div>
	        	</div>
	        </div>
	    </div>
    </div>
</div>
