<div id="wrapper" class="view-height-main">
    <div id="page-wrapper" class="gray-bg" style="min-height: 100%;">
	    <div class="wrapper wrapper-content animated fadeIn">
	        <div class="p-w-md">
	        	<div class="row" style="height:80vh; max-height:80vh;">
	        		<div class="col-lg-6" style="height:100%;">
	        			<div class="row percent-50">
	        				<div class="col-lg-12" style="height:100%;">
	        					<div class = "ibox" style="height:100%;">
							<div class = "ibox-content" style="padding:32.5px; border:none; height:95%;">
								<div class = "row row-centered">
									<div class="col-lg-12 col-centered searchOuterContainer">
										<ul class="tab">
										   <li><a class="tablinks" ng-click="openBrowse(event, 'SearchTab')"><h5 class="text-success">Search</h5></a></li>
										   <li><a class="tablinks" ng-click="openBrowse(event, 'BrowseTab')"><h5 class="text-success">Browse</h5></a></li>
										   <li><a class="tablinks" ng-click="openBrowse(event, 'CreateTab')"><h5 class="text-success">Create</h5></a></li>
										</ul>
										<div id="SearchTab" class="tabcontent">	
										    <form method="post">
										        <fieldset class="tabFieldset">
										            <input id="searchBar" ng-model="searchQuery" type="text"/>
										            <input style="font-size:11px;" type="submit" value="Submit" id="submitButton" ng-click="search(searchCat,searchQuery)"/>
										            <div id="searchInContainer">
										                <input type="radio" name="check" class="css-checkbox" value="table" id="searchTable" checked ng-model="searchCat"/>
										                <label for="searchTable" class="css-label" id="siteNameLabel">Table Search</label>
										                <input type="radio" name="check" class="css-checkbox" value="entity" id="searchEntity" ng-model="searchCat"/>
										                <label for="searchEntity" class="css-label">Entity Search</label>
										                
										            </div>
										        </fieldset>
										    </form>
									    </div>
							    		<div id="BrowseTab" class="tabcontent">	
										    <form method="post">
										        <fieldset class="tabFieldset2">	
													<div class = "row">
														<div class="col-lg-8 col-lg-offset-2" style="margin-bottom:1%;">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a System</div></span>
													        	<ui-select ng-model="selectedSystem.value">
																    <ui-select-match placeholder="List of Systems">
																        {{$select.selected.system_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="system in (systems | filter: $select.search) track by system.system_id">
																        <span ng-bind="system.system_name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2" style="margin-bottom:1%;">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Database</div></span>
													       			<ui-select ng-model="selectedDb.value">
															    <ui-select-match placeholder="List of Databases">
															        {{$select.selected.db_name}}
															    </ui-select-match>
															    <ui-select-choices repeat="db in (dbs | filter: $select.search) track by db.db_id">
															        <span ng-bind="db.db_name"></span>
															    </ui-select-choices>
															</ui-select>
													        </div>
											      		</div>

														<div class="col-lg-8 col-lg-offset-2">
													        <div class="input-group m-b">
													        	<span class="input-group-addon"><div class="newTableText">Select a Schema</div></span>
																<ui-select ng-model="selectedSchema.value">
																    <ui-select-match placeholder="List of Schemas">
																        {{$select.selected.schema_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="schema in (schemas | filter: $select.search) track by schema.schema_id">
																        <span ng-bind="schema.schema_name"></span>
																    </ui-select-choices>
																</ui-select>
													        </div>
											      		</div>
													</div>
										        </fieldset>
										    </form>
									    </div>
							    		<div id="CreateTab" class="tabcontent">	
										    <form method="post">
										        <fieldset class="tabFieldset3">
										            <div class="row">
										            <div class="col-lg-8 col-lg-offset-2 720p" style="margin-bottom:1%;">
												        <div class="input-group m-b"><span class="input-group-addon"><div class="newTableText">Target System</div></span>
											       			<ui-select ng-model="createdSystem.value">
														    <ui-select-match placeholder="List of Systems">
														        {{$select.selected.system_name}}
														    </ui-select-match>
														    <ui-select-choices repeat="system in (systems | filter: $select.search) track by system.system_id">
														        <span ng-bind="system.system_name"></span>
														    </ui-select-choices>
															</ui-select>
												      	</div>
												      </div>
												      <div class="col-lg-8 col-lg-offset-2 720p" style="margin-bottom:1%;">
												        <div class="input-group m-b"><span class="input-group-addon"><div class="newTableText">Target Database</div></span>
													        	
											       			<ui-select ng-model="createdDb.value">
														    <ui-select-match placeholder="List of Databases">
														        {{$select.selected.db_name}}
														    </ui-select-match>
														    <ui-select-choices repeat="db in (createdDbs | filter: $select.search) track by db.db_id">
														        <span ng-bind="db.db_name"></span>
														    </ui-select-choices>
															</ui-select>
												      	</div>
												      </div>
												      <div class="col-lg-8 col-lg-offset-2 720p" style="margin-bottom:1%;">
												        <div class="input-group m-b"><span class="input-group-addon"><div class="newTableText">Target Schema</div></span> <ui-select ng-model="createdSchema.value">
																    <ui-select-match placeholder="List of Schemas">
																        {{$select.selected.schema_name}}
																    </ui-select-match>
																    <ui-select-choices repeat="schema in (createdSchemas | filter: $select.search) track by schema.schema_id">
																        <span ng-bind="schema.schema_name"></span>
																    </ui-select-choices>
																</ui-select></div>
												      </div>
												      <div class="col-lg-8 col-lg-offset-2">
												        <div class="input-group m-b"><span class="input-group-addon"><div class="newTableText">Table Name</div></span> <input type="text" placeholder="Name of new Table" class="form-control" ng-model = "createdTable"></div>
												      </div>
												      <button type="button" class="navbar-minimalize btn btn-primary button-right" ng-click = "createTable()">Save</button>									      	
												    </div>
										        </fieldset>
										    </form>
									    </div>
									</div>
								</div> 
							</div>
						</div>
	        				</div>
	        			</div>

	        			<div class="row percent-50">
	        				<div class="col-lg-12 percent-100">
	        					<div class = "ibox percent-100">
									<div class = "ibox-content percent-100" style="padding:32.5px; border:none;">
										<div class = "row row-centered percent-100">
											<div class="col-lg-12 col-centered searchOuterContainer percent-100">
												<ul class="tab">
													  <li><a class="tablinks2" ng-click="openBrowse2(event, 'ActionsTab')"><h5 class="text-success">Recent Actions</h5></a></li>
													  <li><a class="tablinks2" ng-click="openBrowse2(event, 'SummaryTab')"><h5 class="text-success">Summary of Projects</h5></a></li>
												</ul>

												<div id="ActionsTab" class="tabcontent2" style="height:80%; overflow-y:scroll;">	
													<form method="post">
												        <fieldset class="percent-100">
														   	<div class="percent-100" style="padding-top:1.5%; background-color:white;">
																<table class="footable table table-stripped toggle-arrow-tiny">
											                        <tr>
											                            <td style="text-align:left;border-top:none;">Completed 1 Task For Project 18</td>
											                        </tr>
											                          <tr>
											                            <td style="text-align:left;">Joined Project 18</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 1 Task For Project 12</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 2 Tables For Project 12</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 2 Tasks For Project 7</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 2 Tables For Project 7</td>
											                        </tr>
											                         <tr>
											                            <td style="text-align:left;">Completed 1 Task For Project 18</td>
											                        </tr>
											                          <tr>
											                            <td style="text-align:left;">Joined Project 18</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 1 Task For Project 12</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 2 Tables For Project 12</td>
											                        </tr>
											                         <tr>
											                            <td style="text-align:left;">Completed 1 Task For Project 18</td>
											                        </tr>
											                          <tr>
											                            <td style="text-align:left;">Joined Project 18</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 1 Task For Project 12</td>
											                        </tr>
											                        <tr>
											                            <td style="text-align:left;">Completed 2 Tables For Project 12</td>
											                        </tr>
											                    	</tbody>
											                    </table>
															</div>
														</fieldset>
													</form>
											    </div>
												
												<div id="SummaryTab" class="tabcontent2" style="height:80%; overflow-y:scroll;">	
													<form method="post">
												        <fieldset>
														  	<div class="percent-100" style="padding-top:1.5; background-color:white;">
											        			<table class="footable table table-stripped toggle-arrow-tiny">
											                        <thead>
											                        <tr>
											                            <th style="text-align: center;">Project</th>
											                            <th style="text-align: center;">Leader</th>
											                            <th style="text-align: center;">Tables Completed</th>
											                            <th style="text-align: center;">Tasks Completed</th>
											                            <th style="text-align: center;" >Date Due</th>
											                            <th style="text-align: center;">Status</th>
											                        </tr>
											                        </thead>
											                        <tbody>
											                        <tr>
											                            <td>Project 3</small></td>
											                            <td>Patrick Smith</td>
											                            <td>13</td>
											                            <td>25</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                           <tr>
											                            <td>Project 4</small></td>
											                            <td>David O'Connel</td>
											                            <td>13</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                            <tr>
											                            <td>Project 7</small></td>
											                            <td>Garret Robinson</td>
											                            <td>18</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                            <tr>
											                            <td>Project 12</small></td>
											                            <td>Jim Collins</td>
											                            <td>5</td>
											                            <td>8</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                             <tr>
											                            <td>Project 3</small></td>
											                            <td>Patrick Smith</td>
											                            <td>13</td>
											                            <td>25</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                           <tr>
											                            <td>Project 4</small></td>
											                            <td>David O'Connel</td>
											                            <td>13</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                            <tr>
											                            <td>Project 7</small></td>
											                            <td>Garret Robinson</td>
											                            <td>18</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                            <tr>
											                            <td>Project 12</small></td>
											                            <td>Jim Collins</td>
											                            <td>5</td>
											                            <td>8</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                             <tr>
											                            <td>Project 3</small></td>
											                            <td>Patrick Smith</td>
											                            <td>13</td>
											                            <td>25</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                           <tr>
											                            <td>Project 4</small></td>
											                            <td>David O'Connel</td>
											                            <td>13</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
										                            <tr>
											                            <td>Project 7</small></td>
											                            <td>Garret Robinson</td>
											                            <td>18</td>
											                            <td>20</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                            <tr>
											                            <td>Project 12</small></td>
											                            <td>Jim Collins</td>
											                            <td>5</td>
											                            <td>8</td>
											                            <td>Jul 14, 2013</td>
											                            <td>Ongoing</td>
											                        </tr>
											                        </tbody>
										                    </table>
										                 	</div>
														</fieldset>
													</form>
											    </div>
												</div>
											</div>
										</div> 
									</div>
								</div>
	        				</div>
	        			</div>
					<div class="col-lg-6 percent-100" style="padding-left:0;">
						<div ng-show="tables" class="percent-100">
	        			<div class="col-lg-12 percent-100">
	                    <div class="ibox percent-100">
	                        <div class="ibox-content percent-100" style="border-top:none;">
				                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="16">
	                                	<thead>
	                                	<tr>
											<th data-toggle="true">Table Id</th>
											<th>Table Name</th>
											<th>Database</th>
											<th>Schema</th>
											<!--<th>Attribute Count</th> -->
				                            <th data-hide="all">More Information</th>
				                            <th>Status</th>
				                        </tr>
	                                	</thead>
	                                    <tbody>
	                                    <tr ng-repeat="table in tables track by $index" foo-repeat-done>
											<td>{{table.table_id}}</td>
											<td>{{table.table_name}}</td>
											<td>{{table.db_name}}</td>
											<td>{{table.schema_name}}</td>
											<!-- make sure to actually keep a runnign tally on the number of attributes that call this table home -->
											<td><button class = "btn btn-primary" ng-click="detailedView(table.table_id)">Detailed View</button></td>
											<td>{{table.table_status}}</td>
	                                    </tr>
	                                    </tbody>
	                                    <tfoot>
					                        <tr>
					                            <td colspan="5">
					                                <ul class="pagination"></ul>
					                            </td>
					                        </tr>
					                    </tfoot>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                	<div ng-show="!tables">
	                		<div class="col-lg-12">
	                    <div class="ibox">
	                        <div class="ibox-content" style="border-top:none; height:80vh;">
				             	<h2 style="text-align:center"> Welcome To Data Maps</h2>
				             	<h3 style="text-align:center"> A Unique Data Mapping & Handling Framework</h3>  
	                         </div>
	                        </div>
	                    </div>

	                	</div>
					</div>
					</div>



	        	</div>
	        </div>
	    </div>
    </div>
</div>
