<div id="wrapper" class="view-height-main">
    <div class="wrapper wrapper-content animated pad-tp-0 projectmanagement" style="padding: 1.5%; ">
        <div class="p-w-md">
            <div class="row mar-bt-30 text-center">
                <div class="col-md-5 col-sm-12 col-centereddiv text-left">
                    <div class="mail-box-header table-data-view">
                        <div class="head-titlewrap">
                            <div class="lt-att-info white">Projects</div>
                            <h3 style="color:white;">List of Current Projects</h3>
                        </div>
                        <button class="btn btn-primary white-brd ng-binding add-new-proj" ng-if="user.power_level>=4" ng-click="newProject()">New Project</button>
                    </div>
                    <div class="mail-box  mar-bt-30 body-container outline-box fixed-het-420px">
                        <div class="mail-body scroll">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="pro-tr">
                                                    <th>Project Name</th>
                                                    <th>Project Leader</th>
                                                    <th>Due Date </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pro-tr" ng-click="selectProject(projects[$index])" ng-repeat="project in projects | orderBy:'project.due_date' track by $index">
                                                    <td class="clickbl ng-binding"><i class="fa fa-angle-right"></i> {{project.project_name}}</td>
                                                    <td>{{project.project_leader}}</td>
                                                    <td>{{project.due_date | date:'yyyy-MM-dd'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 pull-right text-left" ng-show="selectedProject">
                    <div class="mail-tools tooltip-demo attribute-tab-head outline-box no-bt-brder clearfix">
                        <div class="lt-att-info widthfull m-b-10" ng-show="!editing">Project Name: {{currentPro}} / <span class="duedate">Due: {{selectedProject.due_date | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="mail-tools tooltip-demo">
                            <div class="form-control-wrap" ng-show="selectedProject && editing">
                                <div class="input-group m-b" ng-show="selectedProject && editing">
                                    <span class="input-group-addon"><div class="newTableText">Project Name</div></span>
                                    <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" type="text" ng-show="editing" ng-model="tempProject.project_name" />
                                </div>
                                <div class="input-group m-b" ng-show="selectedProject && editing">
                                    <span class="input-group-addon"><div class="newTableText">Due Date</div></span>
                                    <input type="text" class="form-control datepickeredit" uib-datepicker-popup ng-model="dt" is-open="status.opened" show-button-bar="false" datepicker-options="dateOptions" close-text="Close" required/>
                                </div>
                                <span class="input-group-btn">
                          </span>
                            </div>
                        </div>
                        <div class="top-btn-set">
                            <a class="btn btn-primary" ng-click="editProject()" ng-show="!editing"><i class="fa fa-edit"></i> Edit</a>
                            <a ng-if="user.power_level>=4" class="btn btn-primary" ng-show="editing" ng-click="save()" title="Save"><i class="fa fa-save"></i> Save</a>
                            <a ng-if="user.power_level>=4" class="btn btn-primary" ng-show="editing" ng-click="cancel()" title="Cancel"><i class="fa fa-close"></i> Cancel</a>
                            <button class="btn btn-primary" ng-show="selectedProject" ng-hide="editing" ng-click="deleteProject()"><i class="fa fa-trash-o"></i> Delete</button>
                            <button class="btn btn-primary" ng-if="selectedProject && user.power_level >= 4" ng-click="addMembers()">Update Members</button>
                            <button class="btn btn-primary" ng-if="selectedProject && user.power_level >= 4" ng-click="addTables()">Add Tables</button>
                        </div>
                    </div>
                    <div class="body-container mail-box outline-box mar-bt-30 ">
                        <div class="mail-body  fixed-het-420px" style="max-height: 393px;">
                            <div class="row scroll" style="height: 355px;">
                                <div class="col-sm-12">
                                    <form role="form">
                                        <table class="footable table table-stripped toggle-arrow-tiny">
                                            <thead>
                                                <tr ng-show="targetProject">
                                                    <th data-toggle="true">Table</th>
                                                    <th>Schema</th>
                                                    <th>Database</th>
                                                    <th>Status</th>
                                                    <!-- <th data-hide="all">Total Attributes</th> -->
                                                    <!-- <th data-hide="all">Number of Mappings</th> -->
                                                    <th>Action</th>
                                                    <th ng-if="user.power_level>=4">Remove Table</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="table in targetProject track by $index" foo-repeat-done ">
                                        <td>{{table.table_name}}</td>
                                        <td>{{table.schema_name}}</td>
                                        <td>{{table.db_name}}</td>
                                        <td>{{table.table_status}}</td>
                                        <!-- <td>{{attributeCount[$index]}}</td> -->
                                        <!-- <td>{{mappingCount || 'Searching...'}}</td> -->
                                        <td><button class = "btn btn-primary " ng-click="detailedView(table.table_id) ">Detailed View</button></td>
                                        <td ng-if="user.power_level>=4">
                                                    <button class="btn btn-primary" ng-click="removeTable(table.table_id)">Remove Table</button>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
