* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f4 !important;
  height: auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

//APP WIDE STANDARD CLASSES
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.percent-100{
  height:100%;
}

.percent-50{
  height:50%;
}

.percent-33{
  height:33%;
}

.percent-315{
  height:31.5%
}

.unmargin{
  margin-top:0;
  margin-bottom:0;
}
.row-centered {
    text-align:center;
}
.left{
  text-align:left !important;
}
.right{
  text-align:right !important;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.col-centered {
    display:inline-block;
    float:none !important; 
    /* reset the text-align */
    margin:0 auto;
}
.overflow{
  overflow:auto
}
.bold{
  text-decoration: bold;
}
.underliner{
  text-decoration: underline;
}
.selectDisable {-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none; }

.selectEnable { -webkit-user-select: text;  -khtml-user-select: text;   -moz-user-select: text; -o-user-select: text;    user-select: text; }

.no-pad{
  padding:0;
}

.with-newlines{
  white-space:pre
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #676a6c;
  stroke-width: 2.0px;
}

.margin-t-5{
  margin-top:5%;
}

.top-right-button{
  position:absolute;
  top:0;
  right:0;
}

.margin-t-2-5{
  margin-top:2.5%;
}

//Custon Settings
#wrapper.view-height-main{overflow: visible;}
.pad-tp-0{padding-top:0}
.detailed-table .btn .fa {
    margin-right: 0px;
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'theme/style';
@import 'outlook-view/main';
@import 'management/main';
