* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'theme/style';
@import 'outlook-view/main';
