<div class="modal-header">
    <h3 class="modal-title">Adding tables to {{project.project_name}}</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-4">
            <h3>SELECT * FROM tables WHERE</h3>
        </div>
        <div class="col-lg-6">
        <input style="line-height:2; width:100%; border:none;" ng-model="query" placeholder="Write a where clause for tables"/>    
        </div>
        <div class="col-lg-2">
        <button class="btn btn-primary" ng-click="addTables(query)">Find Tables</button>    
        </div>
    </div>
	
    
    
    <table class="table table-hover">
        <thead>
            <tr ng-show="tableResults">
            	<th>Select</th>
                <th>Table</th>
                <th>Schema</th>
                <th>Database</th>
                <th>Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "table in tableResults | orderBy: 'table.due_date' track by $index">
            	<td><input type="checkbox" ng-model="tables[table.table_id].selected"/></td>
                <td>{{table.table_name}}</td>
                <td>{{table.schema_name}}</td>
                <td>{{table.db_name}}</td>
                <td>{{table.table_status}}</td>
                <td><button class = "btn btn-primary" ng-click="detailedView(table.table_id)">Detailed View</button> <td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addToProject(query)">OK</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>